.input-style {
  border-bottom: 1px solid #4eeced;
}
.input-style:focus {
  outline: none;
}
.pages-style:hover {
  color: #4eeced;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .responsive-footer {
    display: flex;
    flex-direction: column;
  }
  .footer-img {
    width: 40px !important;
  }
  h4 {
    font-size: x-small;
  }
}
